.banner {
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

    @media (max-width: @screen-xs-max) {
        flex-direction: column;
    }

    &__label {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0.8rem;
        padding: 10px 16px;
    }

    &__info {
        position: relative;
        background-color: $light-orange-1;
        padding: 55px 20px 15px;
        flex-basis: 62%;

        @media (max-width: @screen-xs-max) {
            flex-basis: 100%;
        }

        &:after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 15px 0 15px 15px;
            border-color: transparent transparent transparent $light-orange-1;
            position: absolute;
            right: -15px;
            z-index: 1;
            top: calc(50% - 15px);

            @media (max-width: @screen-xs-max) {
                border-width: 15px 15px 0;
                border-color: $light-orange-1 transparent transparent transparent;
                top: 100%;
                right: calc(50% - 15px);
            }
        }
    }

    &__action {
        text-align: center;
        background-color: $light-orange-2;
        padding: 30px;
        flex-basis: 38%;

        @media (max-width: @screen-xs-max) {
            flex-basis: 100%;
        }
    }
}
