.copy-accordion {
    position: relative;
    width: 100%;
    padding: 1.875rem 1.25rem 2.5rem;
    overflow: visible;

    &--title {
        margin-bottom: 0;
    }

    &--item {
        padding-top: 1.875rem;
        margin-bottom: 0;
        border: none;

        &:last-child {
            padding-bottom: 1.875rem;
        }
    }

    .collapse--icon {
        position: relative;

        &:before {
            position: absolute;
            left: -8px;
            content: '-';
        }

        &.collapsed {
            &:before {
                content: '+';
            }
        }
    }
}
