.copy-accordion {
    position: relative;
    width: 100%;
    padding: 1.875rem 1.25rem 2.5rem;

    &--title {
        margin-bottom: 0;
    }

    &--item {
        padding-top: 1.875rem;
        margin-bottom: 0;
        border: none;

        &:last-child {
            padding-bottom: 1.875rem;
        }
    }

    .collapse--link {
        &:hover,
        &:focus {
            text-decoration: none;
        }

        &-text {
            &:hover {
                text-decoration: underline;
            }
        }

        .icon {
            width: 1.875rem;
            height: 1.875rem;
            vertical-align: middle;
        }

        .icon-minus {
            display: inline-block;
        }

        .icon-plus {
            display: none;
        }

        &.collapsed {
            .icon-plus {
                display: inline-block;
            }

            .icon-minus {
                display: none;
            }
        }
    }
}
