.modal {
    text-align: center;
    padding: 0 !important;

    .fade {
        .modal-dialog {
            transition: none;
            transform: none;
        }
    }

    .close {
        opacity: 1;

        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    a {
        text-decoration: none;

        svg {
            margin-left: 0.25rem;
            width: 1.5rem;
            height: 1.5rem;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;

    h1,
    h2,
    h3,
    p {
        margin-bottom: 1.875rem;
    }
}

@include media-breakpoint-up(xl) {
    .modal-dialog {
        max-width: 50%;
    }
}
