// app variables

$black: #4c4c4c;
$blue: #075da8;
$blue-secondary: #429fd9;
$plum: #b8277c;
$orange: #f7a630;
$light-orange-1: lighten($orange, 35%);
$light-orange-2: lighten($orange, 28%);
$stack-grey-1: rgba(#f2f2f2, .9);
$beige: #f5e3c5;
$beige-lighter: #faf1e2;
